#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.idk{
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right:0px;
    float:none;
}
.idk img{
    width: 100%;
    
}
.movie_head i{
    float:right;
}
.environment_li{
    margin-top: 13px;
}
#contact{
    margin-top: 30px;
}
.book{
    cursor: pointer;
}
.img_modal{
    display: inline-block;
}
.modal-content{
    margin-top: 100px;
}
.book hr{
    margin-bottom: 10px;
}
.modal-body{
    text-align: center;
    
}